wsdl/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://clients.mindbodyonline.com/api/0_5" xmlns:s1="http://clients.mindbodyonline.com/API/0_4" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://clients.mindbodyonline.com/api/0_5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides methods and attributes relating to raw data.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://clients.mindbodyonline.com/api/0_5">
      <s:import namespace="http://clients.mindbodyonline.com/API/0_4" />
      <s:element name="SelectDataXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Request" type="tns:SelectDataXmlRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SelectDataXmlRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:MBRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SelectSql" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MBRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SourceCredentials" type="tns:SourceCredentials" />
          <s:element minOccurs="0" maxOccurs="1" name="UserCredentials" type="tns:UserCredentials" />
          <s:element minOccurs="1" maxOccurs="1" name="XMLDetail" nillable="true" type="tns:XMLDetailLevel" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentPageIndex" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fields" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SourceCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SourceName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteIDs" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteIDs" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="XMLDetailLevel">
        <s:restriction base="s:string">
          <s:enumeration value="Bare" />
          <s:enumeration value="Basic" />
          <s:enumeration value="Full" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SelectDataXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectDataXmlResult" type="tns:SelectDataXmlResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SelectDataXmlResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:MBResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Results" type="s1:RecordSet" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MBResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:StatusCode" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XMLDetail" type="tns:XMLDetailLevel" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentPageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalPageCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="StatusCode">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="InvalidCredentials" />
          <s:enumeration value="InvalidParameters" />
          <s:enumeration value="InternalException" />
          <s:enumeration value="Unknown" />
          <s:enumeration value="FailedAction" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SelectDataCSV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Request" type="tns:SelectDataCSVRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SelectDataCSVRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:MBRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SelectSql" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SelectDataCSVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectDataCSVResult" type="tns:SelectDataCSVResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SelectDataCSVResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:MBResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CSV" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SelectAggregateDataXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Request" type="tns:SelectAggregateDataXmlRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SelectAggregateDataXmlRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:MBRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SelectSql" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SelectAggregateDataXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAggregateDataXmlResult" type="tns:SelectAggregateDataXmlResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SelectAggregateDataXmlResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:MBResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Results" type="s1:RecordSet" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SelectAggregateDataCSV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Request" type="tns:SelectAggregateDataCSVRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SelectAggregateDataCSVRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:MBRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SelectSql" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="SelectAggregateDataCSVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAggregateDataCSVResult" type="tns:SelectAggregateDataCSVResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SelectAggregateDataCSVResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:MBResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CSV" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
    <s:schema targetNamespace="http://clients.mindbodyonline.com/API/0_4">
      <s:complexType name="Row">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Content" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RecordSet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Row" type="s1:Row" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SelectDataXmlSoapIn">
    <wsdl:part name="parameters" element="tns:SelectDataXml" />
  </wsdl:message>
  <wsdl:message name="SelectDataXmlSoapOut">
    <wsdl:part name="parameters" element="tns:SelectDataXmlResponse" />
  </wsdl:message>
  <wsdl:message name="SelectDataCSVSoapIn">
    <wsdl:part name="parameters" element="tns:SelectDataCSV" />
  </wsdl:message>
  <wsdl:message name="SelectDataCSVSoapOut">
    <wsdl:part name="parameters" element="tns:SelectDataCSVResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAggregateDataXmlSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAggregateDataXml" />
  </wsdl:message>
  <wsdl:message name="SelectAggregateDataXmlSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAggregateDataXmlResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAggregateDataCSVSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAggregateDataCSV" />
  </wsdl:message>
  <wsdl:message name="SelectAggregateDataCSVSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAggregateDataCSVResponse" />
  </wsdl:message>
  <wsdl:portType name="Data_x0020_ServiceSoap">
    <wsdl:operation name="SelectDataXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Issue a select statement to your MB database</wsdl:documentation>
      <wsdl:input message="tns:SelectDataXmlSoapIn" />
      <wsdl:output message="tns:SelectDataXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectDataCSV">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Issue a select statement to your MB database</wsdl:documentation>
      <wsdl:input message="tns:SelectDataCSVSoapIn" />
      <wsdl:output message="tns:SelectDataCSVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAggregateDataXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Issue a select statement to aggregate data</wsdl:documentation>
      <wsdl:input message="tns:SelectAggregateDataXmlSoapIn" />
      <wsdl:output message="tns:SelectAggregateDataXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAggregateDataCSV">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Issue a select statement to aggregate data</wsdl:documentation>
      <wsdl:input message="tns:SelectAggregateDataCSVSoapIn" />
      <wsdl:output message="tns:SelectAggregateDataCSVSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Data_x0020_ServiceSoap" type="tns:Data_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectDataXml">
      <soap:operation soapAction="http://clients.mindbodyonline.com/api/0_5/SelectDataXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectDataCSV">
      <soap:operation soapAction="http://clients.mindbodyonline.com/api/0_5/SelectDataCSV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAggregateDataXml">
      <soap:operation soapAction="http://clients.mindbodyonline.com/api/0_5/SelectAggregateDataXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAggregateDataCSV">
      <soap:operation soapAction="http://clients.mindbodyonline.com/api/0_5/SelectAggregateDataCSV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Data_x0020_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides methods and attributes relating to raw data.</wsdl:documentation>
    <wsdl:port name="Data_x0020_ServiceSoap" binding="tns:Data_x0020_ServiceSoap">
      <soap:address location="http://api.mindbodyonline.com/0_5/DataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>